@import url('https://fonts.googleapis.com/css?family=Patua+One|Play');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body{
    background-color: rgb(237, 237, 237);
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

div.resultat {
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border: 1px black dotted;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: whitesmoke;
}

div.form{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#divisa-convertir {
    margin-bottom: 10px;
}

* {
     font-family: 'Play', sans-serif;
}

h1{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    text-transform: uppercase;
    background-image: url("../img/divisas.jpeg");
    margin: 0px;
    padding: 85px;
    color: blue;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: green;

}

form {
    padding: 8px;
    border: 1px black dotted;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    background-color: whitesmoke;
}
